:root {
  --text: #7e7e7e;
  --footer-bg: #7e7e7e;
  --footer-text-color: #ffffff;
  --link-hover: rgb(255, 109, 165);
  --normal-text-size: 1.1;

  /* tags colors*/
  --tag-1: rgb(255, 109, 165);
  --tag-2: rgb(255, 109, 240);
  --tag-3: rgb(136, 109, 255);
  --tag-4: rgb(44, 171, 255);
  --tag-5: rgb(67, 255, 195);
  --tag-6: rgb(155, 255, 109);
  --tag-7: rgb(255, 250, 109);
  --tag-8: rgb(255, 125, 82);
  --tag-9: rgb(142, 142, 142);
}

html,
body {
  overscroll-behavior: none;
}

/* #region База */

body {
  box-sizing: border-box;

  color: var(--text);

  font-family:
    'Manrope',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  /* width: 100vw; */
  overflow-x: hidden;
}

nav,
section,
footer {
  padding-left: 4vw;
  padding-right: 4vw;
}

nav {
  padding-top: 1vw;
}

#main-logo {
  width: 50px;
  height: 50px;
  background-color: var(--text);
}

#nav-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-page-links-container {
  display: flex;
  gap: 1.5rem;

  font-size: 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 600;

  /* чтобы ссылка срабатывала только когда наводишь на текст, а не на всю строку */
  display: inline;
}

p {
  line-height: 1.4rem;
  font-size: calc(
    (var(--normal-text-size) - 1) * calc(0.012 * min(100vh, 900px)) + 1rem
  );
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.3s;

  /* чтобы ссылка срабатывала только когда наводишь на текст, а не на всю строку */
  width: fit-content;
}

a:hover {
  color: var(--link-hover);
}

/* #endregion */

/* #region hero */

#hero-section {
  height: calc(100vh - 6vw - 50px);
  font-size: 4rem;
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  margin-bottom: 8vw;
}

#hero-title {
  font-weight: 600;
}

.icon {
  width: 0;
  height: 60px;
  margin: 0;
  /* padding:; */
  display: inline-block;
  overflow: hidden;
}

.trail-img {
  position: absolute;
  width: auto;
  height: 60px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: fade 1s linear;
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.3);
  }
}

/* #endregion */

/* #region МАЛАЯ GALLERY */

/* #section-projects-gallery h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0 0 3rem 0;
} */

#projects-gallery-animation-wrap {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* padding-left: 4vw; */
  /* overflow: hidden; */

  margin-bottom: 5vw;
}

#projects-gallery-animation-wrap #projects-gallery {
  display: flex;

  width: auto;
  gap: 2rem;

  padding: 1vw 4vw 0 4vw;

  overflow-x: auto;
  /* overflow-y: visible; */
  /* cursor: grab; */
  scroll-behavior: smooth;

  scrollbar-width: none;
}

/* стрелки */
.arrow {
  position: absolute;
  top: 37%;
  /* transform: translateY(-50%); */

  z-index: 999;
  background: rgb(255, 255, 255);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;

  transition: 0.4s;
}

.arrow svg {
  stroke: var(--text);
  width: 0.5rem;
  height: auto;
}

.arrow.left {
  left: 2vw;
  padding-left: 0.1rem;
}
.arrow.right {
  right: 2vw;
  padding-right: 0.1rem;
}

.arrow.hidden {
  opacity: 0;
  pointer-events: none;
}

#projects-gallery-animation-wrap .project-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 25rem;
}

#projects-gallery-animation-wrap .project-cover {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: #7e7e7e;
  border-radius: 1rem;
}

#projects-gallery-animation-wrap .project-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

/* ОБЛОЖКИ */

.project-card:hover .project-cover {
  transform: scale(1.05) rotate(1.5deg);
}

.project-cover {
  background-size: cover;
  transition: transform 0.4s ease;
  will-change: transform;
}

/* ТЕГИ */
.tags-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tags-container span {
  background-color: rgb(255, 128, 196);
  color: #ffffff;
  font-size: 0.8rem;
  padding: 0.3rem 0.7rem 0.4rem 0.7rem;
  border-radius: 1rem;
}

/* #endregion */

/* #region БОЛЬШАЯ GALLERY */

#big-gallery-wrap {
  margin-left: 4vw;
  margin-right: 4vw;
}

#big-gallery-wrap #projects-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6vw;
}

#big-gallery-wrap .project-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 42vw;
}

#big-gallery-wrap .project-cover {
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: #7e7e7e;
  border-radius: 1rem;
}

#big-gallery-wrap .project-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 1rem 0;
}

/* #endregion */

/*  */
/*  */
/* #region FOOTER */
footer {
  /* width: 100vw; */
  background-color: var(--footer-bg);
  color: var(--footer-text-color);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 20px 20px 0 0;

  padding-top: 4vw;
  padding-bottom: 4vw;
}

footer h6 {
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 2rem;
}

footer a {
  color: var(--footer-text-color);
  transition: 0.3s;
}

#social-links-container {
  margin-top: 2rem;
  display: flex;
  gap: 20px;
}

.socials-link {
  position: relative;
}

.socials-link svg:hover {
  fill: currentColor;
}

.socials-link::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: top left;
  /* left: 50%; */
  /* bottom: 120%; */
  transform: translateX(10px) translateY(-10px);
  background: rgb(72, 72, 72);
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  white-space: nowrap;

  z-index: 3;
}

.socials-link:hover::after {
  opacity: 1;
}
/* #endregion */

/* #region СТРАНИЦА ПРОЕКТА */

.paragraph-tags {
  display: flex;
  width: 100%;

  padding-block: clamp(40px, 6vw, 140px);
}

.paragraph {
  width: 50%;
}

.project-page-description > div > :nth-child(2) {
  width: 25%;
}

.paragraph,
.single-image,
.two-images {
  margin-bottom: 2rem;
}

.single-image img {
  width: 100%;
}

/* 2 или несколько картинок в секции */
.two-images {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.two-images img {
  flex: 1;
  min-width: 0;

  width: 0;
  height: auto;

  display: block;
}

/* #endregion */

/* #region АНИМАЦИЯ ПОЯВЛЕНИЯ */
.fade-in {
  opacity: 0;
  /* transform: translateY(40px); */

  transition:
    opacity 1s ease,
    transform 1s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
/* #endregion */
